@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: "Poppins";
}
@keyframes slide-up {
  0% {
    transform: translateY(2em);
  }
  100% {
    transform: translateY(0);
  }
}
div.Ado-Adocao_container{
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #e8f5f7 0%, #f5f5f5 100%);
}

div.Ado-feed_H_Scroll{
    height: 80%;
    width:100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1em;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

div.Ado-card{
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2em;
    flex-shrink: 0;
}
div.Ado-tag{
    display: flex;
    width: 97%;
    justify-content: flex-end;
    align-items: flex-end;
}
div.Ado-tag p {
    font-size: 0.8em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: green;
    color: #fff;
    margin: 0.5em;
}

div.Ado-card_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
    height: 85%;
    gap: 1em;
}

div.Ado-card_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}
div.Ado-card_info_contato{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: flex-start;
    align-items: flex-start;
}

img.Ado-card_img{
    height: 90%;
    width: 80%;
    object-fit: cover;
    border-radius: 1em;
}


div.Ado-Message {
  animation: slide-up 0.3s ease-in-out;
  position: fixed;
  bottom: 10%;
  background: #ffebee;
  padding: 12px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-top: 8px;
  margin-left: 5em;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.error{
  background: #e8f5e9;
  color: #c62828;
}
div.Ado-Message.success p{
  background: #e8f5e9;
  color: #2e7d32;

}


div.Ado-btn_cont{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
button.Ado-card_button {
  background: linear-gradient(90deg, #667eea 0%, #a1c4fd 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 1em;
  font-size: 1.05rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 2em;
  margin-bottom: 2em;
  box-shadow: 0 2px 8px #b2ebf244;
}

button.Ado-card_buttton:hover{
    animation: slide-up 0.2s;
}