@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');
*{
  font-family: "Poppins";
}
/*divs*/
div.conf-Main_Content{
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(120deg, #f8fafc 0%, #e0f7fa 50%, #fce4ec 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  animation: bg-move 12s ease-in-out infinite alternate;
}
div.conf-screen_selector{
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    background-color: lightgray;
    padding: 1.2vw;
    border-radius: 1em;
    align-self: flex-start;
}
div.conf-screen{
    width:  85vw;
    height: fit-content;
    border-radius: 2em;
    padding: 2em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
div.conf-Perfil{
    padding: 1em;
}
div.conf-Privacidade{
  padding: 1em;
  border-radius: 1em;
  height: 80%;
}
div.conf-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
div.conf-Content{
  padding: 2em;
  border-radius: 2em;
}
div.conf-Input_Container{
  width: 98%;
  margin: 1em;
}
/*fim divs*/
/*buttons*/
button.conf-submit_btn{
  background-color: black;
  color: #fff;
  border-radius: 2em;
  padding: 1em;
  width: 15%;
  height: 8%;
  margin-top: 0.5em;
}
button:hover{
  cursor:pointer;
  background-color:gray ;
}
button:active{
  background-color: #fff;
  color: #000;
}
/*fim buttons*/
/*inputs*/
input.conf-Input_p{
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background-color: #bdbdbd;
}
/*fim inputs*/
/*Auxiliares*/
.conf-screen_item{
    border: none;
    border-radius: 1em;
    padding: 0.3em;
    font-weight: bold;
    font-family: "Poppins";
    background-color: lightgray;
    width: 100%;
}
.conf-screen_item:hover{
    background-color: #fff;
}
.conf-screen_item.active{
    background-color: #fff;
}

.conf-thin_border{
  border: 1px solid #ccc;
}
.conf-fade{
  opacity: 0.5;
}