/*Variáveis*/
:root{
  --fundo_login:#eaeffd;
}
/*divs*/
div.Login_Register_Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.Apresentation{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.Data{
  text-align: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  width: 30%;
}
div.Mode_Selection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 3px;
  width: 30%;
  margin: 20px;
  border-radius: 15px;
}
div.Input_Container{
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: start;
  width: 100%;
  margin-bottom: 2%;
}
div.row_spaced_flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
/*fim divs*/

/*inputs*/
input.Input_p{
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  background-color: #d9d9d9;
}
/*fim inputs*/

/*images*/
img.round_image{
  width: 15%;
  border-radius: 50%;
}
/*fim images*/

/*botões*/
button.pad_btn{
  border-radius: 10px;
  padding: 10px;
}
button:hover{
  cursor: pointer;
}
/*fim botões*/

/*Auxiliares*/
.btn_active{
  background-color: #c3ebff;
}
.transparent{
  background-color: transparent;
}
.thin_border{
  border: 1px solid #ccc;
}
.borderless{
  border: none;
}
.full{
  width: 100%;
}
.small{
  height: 9%;
}
.blue_button{
  background-color: #c3ebff;
}