/*Variáveis*/
:root{
  --fundo_login:#eaeffd;
}
/*divs*/
div.Login_Register_Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.Apresentation{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.Data{
  text-align: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  width: 30%;
}
div.Mode_Selection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 3px;
  width: 30%;
  margin: 20px;
  border-radius: 15px;
}
div.Input_Container{
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: start;
  width: 100%;
  margin-bottom: 2%;
}
div.row_spaced_flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
}
div.Textarea_Container{
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: start;
  width: 100%;
  margin-bottom: 2%;
}
div.dual_column{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
div.Ong_Register{
  width: 50%;
}
div.Docker{
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
  padding:10px;
  border-radius: 2em 
}
div.Docker_item{
  background-color: #d9d9d9;
  color:darkgray;

}
/*fim divs*/

/*inputs*/
input.Input_p{
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  background-color: #d9d9d9;
}
textarea.Textarea_p{
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  height: 8em;
  background-color: #d9d9d9;
  resize: none;
}
/*fim inputs*/

/*images*/
img.round_image{
  width: 15%;
  border-radius: 50%;
}
img.Docker_icon{
  width: 5%;
  margin: auto;
  padding: 10px;
}
/*fim images*/

/*botões*/
button.pad_btn{
  border-radius: 10px;
  padding: 10px;
}
button:hover{
  cursor: pointer;
}
button.submit_btn{
  background-color: black;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  width: 10vw;
  height: 6vh;
  padding: 10px
}
/*fim botões*/

/*Auxiliares*/
.btn_active{
  background-color: #c3ebff;
}
.transparent{
  background-color: transparent;
}
.thin_border{
  border: 1px solid #ccc;
}
.borderless{
  border: none;
}
.full{
  width: 100%;
}
.small{
  height: 9%;
}
.blue_button{
  background-color: #c3ebff;
}
.white_box{
  background-color: #fff;
  border-radius: 2em;
  padding:5px
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left{
  display: flex;
  justify-content: left;
  align-items: left;
}
.big_txt{
  font-size: 1.8em;
}