@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: "Poppins";
}

div.admin-AdminPage{
min-height: 100vh;
  background: linear-gradient(135deg, #e8f5f7 0%, #f5f5f5 100%);
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

div.center_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

div.user_item{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: gray;
    border-bottom: 1px solid rgb(54, 52, 52);
    margin: 1em;
    text-align: center;
    color: #fff;
}

div.user_item:hover{
  cursor: pointer;
}